*.ffs_lock
*.ffs_db
*.ffs_gui
/Site
/Cache/*
/Output
/Scripts/Maperitive/IsraelHiking 1-1-2014.mscript
/Scripts/Batch/bil-to-hgt.bat
/*.zip.*
* - Copy*
.merged.*
*.hidden*
!/Site/*/*legend*
Rules/to do.txt